body {
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
html {
    font-family: sans-serif;
    display: block;
    margin: 0;
}
html, body {
    color: #ffffff;
    /*height: 100%;*/ /*now its without cursor going down*/
    font-size: 16px;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica Neue' , Helvetica, Arial, sans-serif;
}





h1 {
    color: #ffffff;
}

div {
    display: block;
}

input {
    line-height: normal;
    font: inherit;
    margin: 0;
    color: inherit;
}

input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
}

html input[type=button] {
    -webkit-appearance: button;
    cursor: pointer;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: #0080ff;
}

button {
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    font: inherit;
}


.register-body {
    /*margin: 0 auto -236px;*/
    margin-top: 10px;
    margin-left: 780px;

    min-height: 100%;
    background-color: transparent;
    max-width: 330px;

    color: #333;
    padding: 0 5%;
}


.register-form {
    margin-bottom: 10px;
}

.register-form-top {
    margin-top: 8px;
}

.register-content {
    min-width: 330px;
    padding: 15px 40px 15px 40px;

    /*background-color: #f3f3f3;*/
    /*background-color: rgba(0,49,98,0.6);*/
    background-color: rgba(0,0,0,0.3);

}


.register-input {
    padding-bottom: 9px;
}

/*.ui-input-label.register-input-password {*/
    /*padding-bottom: 32px;*/
/*}*/

.ui-label {
    position: relative;

    /*margin-bottom: 6px;*/

    font-size: 1em;
    font-weight: 400;
    color: black;
    display: block;
}






.ui-label-text {
    color: #ffffff;
}


.register-input>.ui-text-input {
    width: 100%;
    max-width: 100%;
}



.ui-text-input {
    box-sizing: border-box;
    font-size: 16px;
    border: solid 1px #b3b3b3;
    border-radius: 2px;
    display: block;
    -webkit-appearance: none;
    padding: 5px 6px;
    height: 30px;

    /*background-color: #cccccc;*/
    background-color: #f3f3f3;
}



/*.ui-date-input {*/
    /*box-sizing: border-box;*/
    /*font-size: 16px;*/
    /*border: solid 1px #b3b3b3;*/
    /*border-radius: 2px;*/
    /*display: block;*/
    /*-webkit-appearance: none;*/

    /*width: 30%;*/

    /*margin-right: 10px;*/
    /*float: left;*/

    /*height: 30px;*/
    /*padding: 5px 6px;*/
/*}*/


.ui-day-input {
    box-sizing: border-box;
    font-size: 16px;
    border: solid 1px #b3b3b3;
    border-radius: 2px;
    display: block;
    -webkit-appearance: none;

    width: 30px;
    max-width: 30px;

    margin-right: 10px;
    float: left;

    height: 30px;
    padding: 1px 2px;

    background-color: #f3f3f3;
}
.ui-month-input {
    box-sizing: border-box;
    font-size: 16px;
    border: solid 1px #b3b3b3;
    border-radius: 2px;
    display: block;
    -webkit-appearance: none;

    width: 35px;
    max-width: 35px;

    margin-right: 10px;
    float: left;
    /*text-align: center;*/

    height: 30px;
    padding: 1px 2px;

    background-color: #f3f3f3;
}
.ui-year-input {
    box-sizing: border-box;
    font-size: 16px;
    border: solid 1px #b3b3b3;
    border-radius: 2px;
    display: block;
    -webkit-appearance: none;

    width: 50px;
    max-width: 50px;

    /*text-align: center;*/
    /*width: 20%;*/

    height: 30px;
    padding: 1px 2px;

    background-color: #f3f3f3;
}












.password-wrapper {
    position: relative;
}
/*.hybrid-password {*/
    /*padding-bottom: 43px;*/
/*}*/


.no-toggle {
    visibility: hidden;
}

.no-toggle, .show-toggle {
    position: absolute;
    border: 0;
    background: 0 0;
    font-size: .875em;
    right: 0;
    top: 2px;
    padding: 0;
    z-index: 40;
    color: #0080ff;
}


/*.hybrid-password, .register-forgot-password-wrapper {*/
    /*margin-top: 30px;*/
    /*text-align: left;*/
/*}*/



.register-forgot-password-wrapper {
    width: 100%;
    margin-bottom: 10px;
    font-size: 14px;
}

.register-help-link {
    color: #0080ff;
}




/*BUTON IN JOS*/
.register-button.btn {
    width: 100%;
    max-width: 100%;

    padding: 16px;
    font-size: 18px;

    /*background: #e50914;*/
    background: rgb(0,15,45);
    /*background: rgb(50,100,100);*/
}

.btn.btn-small {
    display: inline-block;
    min-width: 98px;
    min-height: 37px;
    /*margin-right: .5em;*/
    line-height: 1em;

    margin: .5em auto;
}

.btn {
    position: relative;

    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    font-family: Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 2px;
    user-select: none;
    text-align: center;
    box-sizing: border-box;
    border: 0;
}



.btn.btn-submit {
    color: #fff;
    box-shadow: 0 1px 0 rgba(0,0,0,.55);
}

.btn.btn-face {
    border-radius: 100%;
    background: #b3b3b3;
}
.btn-margin-left {
    margin-left: 15px;
}




#button-female:active {
    border-color: transparent;
    outline: none;
}
#button-female:focus {
    border-color: transparent;
    outline: none;
}


#button-female.selected {
    outline: none;
}




#button-male:active {
    border-color: transparent;
    outline: none;
}
#button-male:focus{
    border-color: transparent;
    outline: none;
}
#button-male::selection {
    outline: none;
}



/*.ui-binary-input {*/
    /*position: relative;*/
    /*box-sizing: border-box;*/
    /*padding-left: 36px;*/
    /*user-select: none;*/
    /*font-size: 16px;*/
/*}*/

/*.ui-binary-input input[type=checkbox] {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*opacity: 0;*/
/*}*/

/*.login-remember-me {*/
    /*display: inline-block;*/
    /*margin-bottom: -5px;*/
/*}*/

/*.login-remember-me input {*/
    /*margin-right: 10px;*/
/*}*/


/*.ui-binary-input input[type=checkbox]+label {*/
    /*color: #333333;*/
    /*position: relative;*/
    /*display: block;*/
    /*line-height: 1.2;*/
    /*padding: 6px 0;*/
/*}*/


/*.login-remember-me-label-text {*/
    /*font-size: 14px;*/
/*}*/


/*.ui-binary-input .helper {*/
    /*font-size: 14px;*/
    /*line-height: 1.3em;*/
    /*color: grey;*/
/*}*/



